version: "3.9"

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-php
    volumes:
      - .:/var/www
    networks:
      - backend-net

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: backend-nginx
    ports:
      - "8080:80"
    depends_on:
      - php
    networks:
      - backend-net

networks:
  backend-net:
    driver: bridge